.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  justify-content: left;
}

.grid-container > div {
  text-align: center;
  background-color: #888;
  padding: 10px;
  font-size: 16px;
}

.header {
  border-style: solid;
  border-width: 0px 0px 0px 15px;
  border-color: #555;
  grid-column: 1 / 5;
}

.menu {
  border-style: solid;
  border-width: 0px 0px 0px 15px;
  border-color: #555;
  grid-row: 2 / 5;
}

.footer {
    border-style: solid;
    border-width: 2px;
    border-color: #555;
    grid-column: 2 / 5;
}

a:link, a:visited {
    text-decoration: none;
    color: #292929;
}

a:hover {
    color: #000;
}

body {
    background-color: #8b8b8b;
}